#question-app .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}
.questions__create {
	float: right;
	margin-right: 30px;
}
.questions__list {
  padding: 20px;
}
.fieldpair{
  padding: 10px;
}